<h1>Welcome to the world of engine 1</h1>

<div>
Here is a quote from Rumi: <br/>

<%= CommonStuff::QuoteOfTheDay.quote %>
</div>

<br />
<div>
  This engine uses:
  <ul>
    <li>the unbuilt common stuff gem</li>
  </ul>
</div>