<h1>Hi. I am the container app.</h1>

<p>I will get you to either of the mounted engines:</p>
<ul>
  <li><%= link_to "Engine 1", engine1.welcome_path %></li>
  <li><%= link_to "Engine 2", engine2.root_path %></li>
</ul>
